# Ignore Python and environment
*.pyc
*.pyo
*.env
.env
venv/
.venv/
.pytest_cache/
.mypy_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
site/

# SQLite database files
*.sqlite
*.sqlite3

# Coverage
.codacy-coverage/
.coverage
coverage.xml
codacy-coverage.sh

# Python cache
__pycache__/
*.py[cod]

# Optional: caches in subdirectories
**/__pycache__/

# VSCode settings
.vscode/

# Jetbrains settings
.idea/

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# others
README_draft.md
KNOWN_ISSUES.md
examples/test.py
examples/README.md
temp